LLM_01=meta-llama/llama-3-70b-instruct
LLM_02=openai/gpt-4
LLM_03=anthropic/claude-3-opus
LLM_04=google/gemini-2.0-flash-001
LLM_05=google/gemma-2-9b-it
LLM_06=mistralai/mistral-small
LLM_07=gpt-4o-mini

LLM_ENDPOINT=https://openrouter.ai/api/v1/chat/completions
OPENROUTER_API_KEY=sk-or-v1-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
PLUGINS_DIR=./build/lib
LOG_LEVEL=INFO

